<!-- <nav mat-tab-nav-bar [disableRipple]="true">
        <a mat-tab-link
           *ngFor="let link of navLinks"
           [routerLink]="['/'+link.path]"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          {{link.label}}
        </a>
</nav> -->


<div class="tab">
    <button id='add_person' (click)="goAddperson()" >Add Person</button>
    <button id='list_person' (click)="goListperson()">List Person</button>
</div>
<!-- <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
</script> -->