<!-- <nav mat-tab-nav-bar [disableRipple]="true">
        <a mat-tab-link
           *ngFor="let link of navLinks"
           [routerLink]="['/'+link.path]"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          {{link.label}}
        </a>
</nav> -->


<div class="tab">
    <button class='btn' [ngClass]="{'btn-actve': href === '/add_person'}" (click)="goAddperson()" >Add Person</button>
    <button class='btn' [ngClass]="{'btn-actve': href === '/list_person'}" (click)="goListperson()" >List Person</button>
    <!-- <button class='btn' [class.btn-actve]="href === '/add_person' && 'active'"  (click)="goAddperson()" >Add Person</button>
    <button class='btn' [class.btn-actve]="href === '/list_person' && 'inactive'" (click)="goListperson()" >List Person</button> -->
</div>