<tab-component></tab-component>
<br>
<div class="tbl-header">
  <table cellpadding="0" cellspacing="0" border="0">
      <thead>
          <tr>
              <th *ngFor="let table_heading of table_headings">
                {{ table_heading }}
              </th>
          </tr>
      </thead>
  </table>
</div>
<div class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr *ngFor="let table_content of table_contents">
        <td>
            {{ table_content.id }}  
        </td>
        <td>
            {{ table_content.first_name }}  
        </td>
        <td>
            {{ table_content.last_name }}  
        </td>
        <td>
            <button type="button" class="edit_button" (click)="edit_person(table_content)">Edit Details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class='edit_person' *ngIf="person_detail_update">
    <h1>Edit User details</h1>
    <person-edit-child-cmp 
        [person]="person_details"
        [person_detail_update]="person_detail_update"
        (messageEvent)="receiveMessage(edit_complete)">
    </person-edit-child-cmp>
</div>